body {
      background-image: url(../tacoimage.jpg);
      line-height: 2;
      list-style-position: inside;
      padding: 10%;
    
     }

div {
    
     text-align: center;
     margin: 3%;

    }

p  {
    background-color: rgba(15, 36, 230, 0.25);
    color: rgb(61, 226, 28);
    text-align: center;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
   }

ul {
    font-size: 22px;
    background-color: rgba(47, 17, 216, 0.25);
    color:white; 
    text-align: left;
    margin: auto;
    width: fit-content;
    margin-bottom: 1rem;
   }

ol {
    font-size: 22px;
    color: rgb(240, 239, 241);
    background-color: rgba(79, 228, 10, 0.25);
    width: fit-content;
    text-align: left;
    margin: auto;
    margin-bottom: 1rem;
   }

h2 {
    color: rgb(10, 10, 10);
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    width: fit-content;
    margin: auto;
    writing-mode: vertical-lr;
    text-orientation: upright;
   }

h1 {
    color: white;
    background-color: rgba(165, 14, 14, 0.75);
    text-align: center;
    width: fit-content;
    margin: auto;
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin-bottom: 1rem;
   }